---
Checks: >
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cert-err58-cpp,
  -bugprone-easily-swappable-parameters,
  -readability-convert-member-functions-to-static,

HeaderFilterRegex: 'include/drone/.*'
WarningsAsErrors: ''
